<h2> Order de Compra : {{idComp.idcompra}} </h2>
<br>
<div class="card border-dark mb-3 m-auto" style="max-width: 70rem;">
  <div class="card-header text-white bg-dark border-dark"><h3>Nombre Completo : {{persona.nombre}} {{persona.apellido}}</h3></div>
  <div class="card-body text-dark">
    <h4 class="card-title">user : {{usuario.User}}</h4>
    <h4 class="card-text"> mail : {{persona.mail}}</h4>
    <h4 class="card-text"> Dirreción : {{dirrecion.txtdirrecion}} {{dirrecion.dirnumero}} , {{dirrecion.localidad}}</h4>
  </div>
   
   
  <ul class="list-group list-group-flush">
     {{#each pedidoCompleto}}
    <li class="list-group-item"> <h4>{{cantidad}} {{txtproducto}} a ${{precio}}  c/u </h4></li>
     {{/each}}
  </ul> 
  <div class="card-footer  border-dark"><h5>Estado : {{estado.txtestado}}</h5></div>
</div>
